@{
    ViewData["Title"] = "CNC Controller";
}

<div class="row">
    <div class="col-md-3">
        <h2>Go to</h2>
        <form asp-action="Index" method="get" class="form-horizontal">
            <div class="form-group">
                <label for="txtX" class="col-sm-2 control-label">X</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="txtX" name="x" placeholder="0" value="@Context.Request.Query["x"]">
                </div>
            </div>
            <div class="form-group">
                <label for="txtY" class="col-sm-2 control-label">Y</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="txtY" name="y" placeholder="0" value="@Context.Request.Query["y"]">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <h2>Preset Positions</h2>
        <a class="btn btn-default" asp-action="Index" asp-route-x="0" asp-route-y="0" role="button">Zero</a>
        <a class="btn btn-default" asp-action="Index" asp-route-x="600" asp-route-y="436" title="(600,436)" role="button">Bottom Right</a>
        <a class="btn btn-default" asp-action="Index" asp-route-x="-600" asp-route-y="-436" title="(-600,-436)" role="button">Top Left</a>
    </div>
    <div class="col-md-3">
        <h2>Pen</h2>
        <a class="btn btn-success" asp-action="PenUp" role="button">Up</a>
        <a class="btn btn-danger" asp-action="PenDown" role="button">Down</a>
    </div>
    <div class="col-md-3">
        <h2>Motors</h2>
        <a class="btn btn-warning" asp-action="UnlockMotors" role="button">Unlock</a>
    </div>

</div>
